{
  "extends": ["react-app", "plugin:react-hooks/recommended"],
  "plugins": ["unused-imports"],
  "rules": {
    "eol-last": ["error", "always"],
    "unused-imports/no-unused-imports": "warn"
  }
}
